@use "./../../assets/styling/color" as *;
@use './../../assets/styling/mixins' as *;


.search-box{
  width: 50%;
  background-color: rgba($primary-color,0.2);
  border-radius: 60px;
  padding: 10px;
  color: white;
  cursor: pointer;

  &::placeholder{
    color: rgba(255, 255, 255,0.5);
  }
}

@include small-phone{
  .search-box{
    width: 20%;
    margin-right: 5%;
  }
}