@use './../../assets/styling/color' as *;

.filter-container{
   
   &__item-label{
      padding: 0 0.2em;
   }

   &__item-radiobtn{
      margin-right: 0.5em;
      cursor: pointer;

      &:checked{
         accent-color: $primary-color;
      }
   }
}

