@use './../../assets/styling/color' as * ;
@use './../../assets/styling/font' as *;
@use './../../assets/styling/mixins' as *;

.random-drink{
  padding: 2em;
  background-color: rgb(0, 0, 0);

  &__heading{
    font-family: $display-font;
    font-size: 2em;
  }

  &__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__para{
    margin: 1.5em 0em 1.5em;
  }

  &__button{
    margin-bottom: 1.5em;
    @include default-button;

    &:hover{
      background-color: rgba($secondary-color, .5);
    }
  }
}