@use './../../assets/styling/mixins' as *;

.alldrinks{
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.9)),url("./../../assets/media/mixologist-copper.webp");
  background-position: center;
  background-size: cover;
  padding-bottom: 2em;

  &__header-container{
    padding-top: 2.8em;
    padding-bottom: 2em;
    position: sticky;
    top:2em;

    &--scrolled{
      background-color: black;
    }
  }

  &__header{
    padding-bottom: 1em;   
  }

  &__heading{
    text-align: center;
    padding-bottom: 1em;
  }

  &__content{
    padding-top: 2em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@include small-phone{
  .alldrinks{

    &__header{
      display: flex;
      align-items: center;
      padding-bottom: 1em;
      justify-content: end;
    }

    &__heading{
      width: 50%;
      padding-bottom: 0;
    }
  }
}