@use "./assets/styling/font" as *;

:root {
  margin: 0px;
  font-family: $primary-font;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: 1.5px;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
}
