@use '../../assets/styling/font' as *;
@import '../../assets/styling/mediaQueries.scss';


.nav{
    position: fixed;
    z-index: 10;
    width: 100vw;
    &__container{
        background-color: rgb(235, 96, 40);
        display: flex;
        justify-content: flex-end;
        // background-color: green;
        margin: 0;
        padding: 0;
    }
    

    &__items{
       list-style: none;
    //    background-color: red;
       padding: 0.5em;

    }
    &__brand{
        margin-right: auto;
        font-family: $display-font;
    font-size: large;
    font-weight: 700;
    letter-spacing: 2px;
    }
    &__brand-icon{
        width: 1.2em;
        height: 1.2em;
    }
    &__link{
        width: 2em;
        height: 2em;
        padding-right: 1em;
        
    }
}

